main{
  width: 80%;
  padding: 2rem 4rem 4rem 4rem;
  margin: 1rem auto 3rem auto;
  text-align: center;

}
article {
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 25%);
  margin-top: 7.5%;
  margin-bottom: 5%;
  margin-left:15%;
  margin-right: 15%;
  text-align: center;
}
h2{
  display: inline-block;
  margin-top:1rem;
  margin-bottom: 1rem;
  opacity: 60%;
  cursor: pointer;
}
h3{
  text-align: left;
  padding: 0.25rem; 
}
h1 span{
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 70%, #B6F3AB 0%,#B6F3AB 0%);
}  
p, li, dd{
  margin:auto;
  line-height: 200%;
  letter-spacing: -0.3px;
  padding: 0.25rem;
}
li {
  font-size: 1.2rem;
}
dt{
  margin: 2rem 1rem 0rem 2rem; 
  text-align: left;
  font-size: 1.1rem;
  font-family: "Segoe UI";
  font-weight: 500;
  background-color:linear-gradient(
    to right,
    #d0d9f9,
    #a3ecc8,
    #f2f088
  );
}
dd{
  max-width: fit-content;
  padding: 0rem;
  margin: 0.5rem auto 0.5rem 6rem; 
  text-align: left;
  font-size: 1rem;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 15%); 
}
/*#start-kurs {
  border: none;
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 100;
  border: 1px solid #a3ecc8;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 1rem; 
}*/

#start-kurs {   
  margin-top: 1rem;     
  border: none;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 15%); 
  background-color: #FFFFFF;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #B6F3AB 50%,
    #B6F3AB
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.2s ease-in; 
}

#start-kurs:hover {        
  background-position: 0 0;
  box-shadow: none;
  font-size: 1.55rem;
}

.text .vedlegg-liste li span{
  margin: 0.5rem; 
  font-size: 1rem;
  font-weight: 100;
}
.text a, .text span:first-of-type{
  font-weight: 600;
  font-style: italic;
  background-color: #95E3EC;
}
.text span:last-of-type{
  font-style: italic;
}
.om-kurset{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   --min-height: 30vh;
   max-height: fit-content;
   margin-top: 1rem;
}
.kurs-info {
  position: relative;
  width: 30%;
  height: var(--min-height);
  margin: 2rem; 
  background-color:#ffffff;
  --border-width: 2px;
  border-radius: var(--border-width);
}
.kurs-velkommen h1 {
  font-size: 1.4rem;
}
.kurs-velkommen h2{
  font-family: "Segoe UI";
  font-weight: 500;
  opacity: 100%;
  cursor: auto;
  margin: 1rem auto 0rem auto;
  font-size: 1.6rem;
}
.kurs-velkommen h3{
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
}
.kurs-velkommen p{
  font-size: 1.1rem;
  padding: 0rem; 
  margin: 0.75rem auto 0rem auto;
  width: 65ch;
  line-height: 180%;
  font-style: italic;
  background-color: #a3ecc8;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 15%); 
}
.kurs-info::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      to right,
      #d0d9f9,
      #a3ecc8,
      #f2f088
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.innhold {
  padding: 2rem; 
  text-align: left;
}
.guide {
  min-height: 50vh;
  max-height: 50vh; 
  position: relative;
  display: flex;
}
.steg-for-steg {
  min-width: 70%;
  position: relative;
  margin: auto;
}
.neste {
  right: 0;
  top: 100px;
}

.forrige {
  left: 0;
  top: 100px; 
}
.forrige, .neste {
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  position: absolute;
  color: #95E3EC;
  transition: 0.4s ease;
  font-size: 2rem;
  user-select: none;
  margin: 1rem; 
}
.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0 2px;
  background-color: #95E3EC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotter {
  width: 100%;
  position: absolute; 
  bottom: 0.5rem; 
}
.steg {
    display:none;
}
.åpen {
  opacity: 100%;
}
.text {
  bottom: 8px;
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  width: 80%;
  margin:auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
#kurs-container{
  display: none;
}
#beskrivelse {
  width: 80%;
  box-shadow: 1px 10px 15px 1px rgb(182 243 171 / 20%);
  border-radius: 1rem;
  margin: 2rem auto auto auto;
  padding: 2rem; 
}
#intro h2{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%, #D0D9F9 0%,#D0D9F9 0%);
}
#fordeler h2{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%, #F5F187 0%,#F5F187 0%);
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  width: 50%;
  font-family: "Leelawadee UI";
}

th {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  word-spacing: 8rem;
  background-image: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088); 
}

td {
  text-align: center;
  padding: 0.6rem;
  font-size: 0.75rem;
}

tr {
  border-bottom: 0.05rem solid black;
}

tr:last-child {
  border-bottom: none;
}

#tingÅTenkePå h2{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%, #B6F3AB 0%,#B6F3AB 0%);
}
#forutsetninger h2{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%, #F2BFB0 0%,#F2BFB0 0%);
}
#opprette > h2{
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%, #95E3EC 0%,#95E3EC 0%);
}

.forrige:hover, .neste:hover {
  background-color: #68CBD7;
  color: #f2f2f2;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.active, .dot:hover {
  background-color: #68CBD7;
}

.text a:hover{
  transition: ease 0.3s;
  letter-spacing: 0.5px;
}

h2:hover {
  transition: ease 0.4s;
  opacity: 100%;
}