/*commit this*/
#container {
    max-width: 100vw;
    width: 100vw;
}

#navbar {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088);
    display: flex;
    flex-flow: row nowrap;
}

#searchbar {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#searchbar input{
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 25%);
    border-radius: 5px;
    border: none;
    height: 4vh;
    width: 20vw;
    margin-left: 4vw;
}

#searchbar textarea:focus, input:focus{
    outline: none;
}

#searchbar form {
    margin: 0;
    padding: 0;
    display: flex;
}

#searchbar button {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
}

#searchbar svg {
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 25%);
    z-index: 100;
    border-radius: 5px;
    width: 3vh;
    margin-left: 1vw;
    padding: 5px;
}

#searchbar svg:hover {
  cursor: pointer;
}

#profil {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
  margin-right: 4vw;
}

#navn_poeng {
  font-family: "Leelawadee UI";
  margin-right: 1vw;
}

#profil img {
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 25%);
  border-radius: 25px;
  width: 5vh;
}
nav {
  width: 15%;
  font-size: 1.25rem;
  float: left;
}

nav ul li {
  margin: 3rem 0rem 3rem 0rem; 
  padding-left: 2rem;
}

.active {
  font-weight: bold;
  padding-left: 1rem;
}


/* FELLES */
h1 {
  font-size: 1.75rem;
  width: 100%;
  padding: 3rem; 
  font-weight: bold;
  text-align: center;
}

h4 {
  text-align: left;
  padding: 0.625rem 0rem 0rem 0.625rem; 
  font-size: 0.75rem;
  width: 100%;
  font-style: italic;
}

p {
  font-size: 1rem; 
  font-weight: lighter;
  line-height: 150%;
  letter-spacing: 0.03rem;
  text-align: center;
  padding: 0.25rem; 
}

section {
  float: right;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.kurs {
  border-radius: 1rem;
  width: 15%;
  margin: 0rem 3rem 3rem 3rem; 
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 20%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;
}

.kurs img {
  text-align: center;
  max-width: 30%;
  margin: 1rem;
  align-self: center;
}

.bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 50%;
}

.modul {
  border-radius: 25px;
  width: 25%;
  box-shadow:  1px 1px 20px 1px rgb(0 0 0 / 10%);
  display: flex;
  flex-flow: wrap;
  margin: 0rem 1rem 1rem 1rem; 
  position: relative;
  min-height: 30vh;
}

.modul h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  width: 100%;
  line-height: 120%;
  padding: 1rem; 
}


.modul .bottom {
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #68cbd7;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* UNDERVEIS */
.underveis-container {
  width: 15%; 
}
.underveis-container > p {
  font-size: 1rem;
}

.underveis{
  border-radius: 1rem;
  width: 100;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.underveis .bottom {
  background-color: #B7BFDE;
  height: 15vh;
  margin-top: 1rem; 
}

.underveis-container > p:hover {
  background-color: #f2f088;
  font-size: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
}

/* FULLFØRT */ 
.fullført {
  border-radius: 1rem;
  width: 20%;
  margin: 0rem 3rem 3rem 3rem; 
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullført h6{
  font-size: 1rem;
  text-align: left;
  padding-left: 0.5rem; 
}

.fullført span {
  font-style: italic;
  font-weight: bold;
}

.fullført .poeng {
  width: 100%;
  padding: 1rem 0rem 1rem 0rem; 
  margin-top: 1rem; 
  background-color: #F4F6FA;
  font-size: 1rem;
}

.fullført .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #B6F3AB;
  padding: 0.5rem; 
  height: auto;
}

/* PROGRESS CIRLCE */ 
.circle-wrap, .circle-wrap2, .circle-wrap3 {
  margin: auto;
  width: 7.9vw;
  height: 7.9vw;
  background: #fefcff;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill,
.circle-wrap2 .circle2 .mask2,
.circle-wrap2 .circle2 .fill2,
.circle-wrap3 .circle3 .mask3,
.circle-wrap3 .circle3 .fill3
{
  width: 7.9vw;
  height: 7.9vw;
  position: absolute;
  border-radius: 50%;
}

.mask .fill, .mask2 .fill2, .mask3 .fill3 {
  clip: rect(0px, 3.95vw, 7.9vw, 0px);
  background-color: #D0D9F9;
}

.circle-wrap .circle .mask,
 .circle-wrap2 .circle2 .mask2,
 .circle-wrap3 .circle3 .mask3
 {
  clip: rect(0px, 7.9vw, 7.9vw, 3.95vw);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(46.8deg);
}

.mask2.full2,
.circle2 .fill2 {
  animation: fill2 ease-in-out 2s;
  transform: rotate(104.4deg);
}

.mask3.full3,
.circle3 .fill3 {
  animation: fill3 ease-in-out 2s;
  transform: rotate(133.2deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(46.8deg);
  }
}

@keyframes fill2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(104.4deg);
  }
}

@keyframes fill3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(133.2deg);
  }
}

.circle-wrap .inside-circle,
 .circle-wrap2 .inside-circle2,
 .circle-wrap3 .inside-circle3
 {
  width: 6.39vw;
  height: 6.39vw;
  border-radius: 50%;
  font-family: "Leelawadee UI";
  line-height: 6.32vw;
  text-align: center;
  margin-top: 0.734vw;
  margin-left: 0.734vw;
  color: #D0D9F9;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  font-weight: lighter;
  font-size: 1.25vw;
}

.circle-wrap1 {
  margin: auto;
  width: 7.9vw;
  height: 7.9vw;
  background: #fefcff;
  border-radius: 50%;
}

.circle-wrap1 .circle1 .mask1,
.circle-wrap1 .circle1 .fill1 {
  width: 7.9vw;
  height: 7.9vw;
  position: absolute;
  border-radius: 50%;
}

.mask1 .fill1 {
  clip: rect(0px, 3.95vw, 7.9vw, 0px);
  background-color: #B6F3AB;
}

.circle-wrap1 .circle1 .mask1 {
  clip: rect(0px, 7.9vw, 7.9vw, 3.95vw);
}

.mask1.full1,
.circle1 .fill1 {
  animation: fill1 ease-in-out 2s;
  transform: rotate(180deg);
}

@keyframes fill1{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle-wrap1 .inside-circle1 {
  width: 6.39vw;
  height: 6.39vw;
  border-radius: 50%;
  line-height: 6.32vw;
  text-align: center;
  margin-top: 0.734vw;
  margin-left: 0.734vw;
  font-family: "Leelawadee UI";
  color: #B6F3AB;
  background: #ffffff;
  position: absolute;
  z-index: 100;
  font-weight: lighter;
  font-size: 1.25vw;
}

@media only screen and (max-width: 1300px) {
  nav {
    font-size: 1rem;
  }
  section{
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 1.25rem;
    padding: 2rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  p {
    font-size: 1rem;
  }
  .modul h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .modul .bottom p {
    font-size: 0.8rem;
  }
  .underveis-container > p {
    font-size: 0.75rem;
  }
  .underveis .bottom p {
    font-size: 0.9rem;
  }
  .underveis-container > p:hover{
    font-size: 0.9rem;
    cursor: pointer;
  }
  .fullført h6 {
    font-size: 0.7rem;
  }
}