main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-wrap: wrap;
}
section {
  float: right;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 25%);
  border-radius: 0.2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
h2 {
  width: 100%;
  padding: 3rem; 
  text-align: left;
  font-size: 1.75rem;
  font-weight: 500;
}
h3 {
  padding: 0.25rem;
  text-align: center;
  font-family: "Segoe UI";
  font-weight: 500;
}
.kurs h3, .underveis h3 {
  font-size: 1.2rem; 
  line-height: 150%;
}
.modul h3 {
  width: 100%;
  font-size: 1.5rem; 
  line-height: 120%;
}
h4 {
  width: 100%;
  padding: 0.625rem 0rem 0rem 0.625rem; 
  text-align: left;
  font-size: 0.75rem;
  font-family: "Segoe UI";
  font-weight: 400;
}
p {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: -0.2px;
}

main img {
  text-align: center;
  max-width: 40%;
  align-self: center;
}

.scrollmenu {
  display: flex;
  overflow: auto;
  white-space: wrap;
  padding-bottom: 2rem;
  align-items: center;
}
.kurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 220px;
  max-width: 220px;
  min-height: 240px;
  max-height: 240px;
}

.kurs a{
    width: 220px;
    height: 240px;
}

.kurs .topp {
    text-align: center;
    justify-content: center;
    align-self: center;
    height: 65%;
}

.kurs .bottom {
    text-align: center;
    justify-content: center;
    align-self: center;
    height: 35%;
}

.modul {
  display: inline-block;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  white-space: break-spaces;
}

.modul p {
    line-height: 200%;
}

.kurs, .modul{
  margin: 2rem 1.5rem 3rem 3rem;
  border-radius: 0.5rem;
  box-shadow:  1px 1px 20px 1px rgb(0 0 0 / 5%);
  opacity: 85%;
  min-height: 240px;
  max-height: 240px
}
.modul-tittel {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom, .modulbottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  white-space: break-spaces;
}

.modul a {
    height: 240px;
    width: 300px;
}

.modul .modul-tittel {

}

.modul .bottom {
  position: absolute;
  bottom: 0;
  height: 45%;
  text-align: center;
  background: #68cbd7;
}
#section-container {
  width: 80%;
}
#section-container-search {
  width: 90%;
  margin: auto;
}
#section-container .link1 {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 60%,#d0d9f9 0%,#d0d9f9 0%);
    font-family: "Segoe UI";
    font-weight: 500;"
}
#section-container .link2 {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 60%,#a3ecc8 0%,#a3ecc8 0%);
    font-family: "Segoe UI";
    font-weight: 500;"
}
#section-container .link3 {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 60%,#f2f088 0%,#f2f088 0%);
    font-family: "Segoe UI";
    font-weight: 500;"
}

.kurs:hover, .modul:hover, .quiz-div:hover {
  transition: all 0.3s ease-in-out;
  opacity: 100%;
  transform: translateY(-1.5rem);
  box-shadow:  1px 1px 20px 1px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.kurs .topp {
    text-align: center;
    justify-content: center;
    align-self: center;
    height: 65%;
}

.kurs .bottom {
    text-align: center;
    justify-content: center;
    align-self: center;
    height: 35%;
}

/* --------- */
/* UNDERVEIS */
/* --------- */

.underveis-container {
  min-width: 220px;
  max-width: 220px;
  margin: 2rem 1.5rem 3rem 3rem;
  text-align: center;
}
.underveis{
  border-radius: 0.5rem;
  width: 100;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.underveis .bottom, .underveis .modulbottom {
  height: 15vh;
  margin-top: 1rem;
}

.underveis .bottom {
    background: #B6F3AB;
}

.underveis .modulbottom {
    background: #68cbd7;
}

.underveis-container p:hover {
  cursor: pointer;
  transition: 0.5s ease;
  transform: translateY(-10px);
  font-size: larger;
  border-radius: 0.5rem;
  background-color: #f2f088;
}

.underveis-container:hover {
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    transform: translateY(-1rem);
    cursor: pointer;
}

/* -------- */
/* FULLFØRT */ 
/* -------- */
.fullført {
  border-radius: 0.5rem;
  width: 20%;
  margin: 0rem 3rem 3rem 3rem; 
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullført a {
    width: 100%;
    height: 100%;
}

.fullført p {
  padding-left: 0.5rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
  line-height: normal;
  height: 100%;
}

.fullført p span {
  font-weight: 400;
}

.fullført .poeng {
  padding: 1rem 0rem 1rem 0rem;
  margin-top: 1rem;
  background-color: #F4F6FA;
  font-size: 1rem;
}

.quiz-div{
    position:relative;
    box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 15%);
    margin: 2rem 1.5rem 3rem 3rem;
    min-width: 200px;
    max-width: 200px;
    min-height: 240px;
    max-height: 240px
    text-align: center;
    min-height: 240px;
    max-height: 240px
    border-radius: 0.5rem;
    opacity: 85%;
    text-align: center;
}

.quiz-div h4 {
      width: 100%;
      padding: 0.625rem 0rem 0rem 0.625rem;
      text-align: left;
      position: absolute;
      bottom: 3%;
      font-size: 0.75rem;
      font-family: "Segoe UI";
      font-weight: 400;
 }

#mer {
    text-align: center;
    width: 100%;
}
.quiz-div h2 {
    margin-top: 0.5rem;
    font-size: 1.75rem;
    padding: 0.5rem;
    font-weight: lighter;
}

.mer{
    position:absolute;
    bottom: 3%;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 100;
    text-align: center;
}

.mer:hover {
    cursor: pointer;
}

.overlap {
    position: absolute;
    bottom: -7.15vh;
    width: 100%;
    max-height: fit-content;
    text-align: center;
    box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 15%);
    background-color: #F4F6FA;
}
.overlap form {
    box-shadow: none;
    margin: 0rem;
    padding: 0rem;
    min-width: 200px;
    max-width: 200px;
}
.overlap button, .overlap p {
    border: none;
    background-color: transparent;
    position: static;
    font-weight: 100;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    align-items: center;
    width: 100%;
}
.overlap p:hover, .overlap button:hover {
    cursor: pointer;
    font-weight: 600;
}

.quiz-div img {
    max-width: 100%;
}

.quiz-div h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.topp {
    display: flex wrap;
    width: 100%;
}

.kurs h7 {
    display: flex;
    text-align: right;
    justify-content: right;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.fullført .bottom,
.fullført .modulbottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 100%;
}
.fullført .modulbottom {
    background: #68cbd7;
}

.fullført .bottom {
    background: #B6F3AB;
}


.fullført:hover {
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    transform: translateY(-0.5rem);
    cursor: pointer;
    box-shadow:  1px 1px 20px 1px rgb(0 0 0 / 10%);
}

/* --------------- */
/* PROGRESS CIRLCE */
/* --------------- */

.circle-wrap {
  margin: auto;
  width: 7.9vw;
  height: 7.9vw;
  background: #fefcff;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill,
.circle-wrap .circle .fill {
  width: 7.9vw;
  height: 7.9vw;
  position: absolute;
  border-radius: 50%;
}

.mask .fill,
.mask .fillmodul {
  clip: rect(0px, 3.95vw, 7.9vw, 0px);
}

.circle-wrap .circle .mask {
  clip: rect(0px, 7.9vw, 7.9vw, 3.95vw);
}

.circle-wrap .inside-circle {
  width: 6.39vw;
  height: 6.39vw;
  border-radius: 50%;
  font-family: "Leelawadee UI";
  line-height: 6.32vw;
  text-align: center;
  margin-top: 0.734vw;
  margin-left: 0.734vw;
  color: #D0D9F9;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  font-weight: lighter;
  font-size: 1.25vw;
}

@media only screen and (max-width: 1550px) {

  .quiz-div h2 {
      font-size: 1.3rem;
  }

  .mer {
      font-size: 1.3rem;
  }

  .overlap p {
      font-size: 0.8rem;
  }
  .overlap button, .overlap p {
      font-size: 0.8rem;
  }

  .utfclass {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, #B6F3AB 0%,#B6F3AB 0%);
    margin-right: 2rem;
    font-size: 1.2rem;
  }
  .active {
    font-size: 1.2rem;
  }
  nav {
    font-size: 1rem;
  }
  section {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    padding: 0.5rem 1rem 1.5rem 1rem; 
  }
 
  h4 {
    font-size: 0.6rem;
  }
  p {
    font-size: 1rem;
  }
  .modul h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .modul .bottom p {
    font-size: 0.8rem;
  }
  .underveis-container > p {
    font-size: 0.75rem;
  }
  .underveis .bottom p {
    font-size: 0.9rem;
  }
  .underveis .modulbottom p {
      font-size: 0.9rem;
    }
  .underveis-container > p:hover{
    font-size: 0.9rem;
    cursor: pointer;
  }
  .fullført h6 {
    font-size: 0.7rem;
  }

  div.scrollmenu {
    padding-bottom: 1rem;
  }
  
  .kurs h3, .moduler h3, .underveis h3, .fullført h3 {
    font-size: 1rem;
  }
  
  #section-container h2 {
    font-size: 1.25rem;
  }

  .scrollmenu .kurs {
    min-width: 200px;
    max-width: 200px;
  }

  .scrollmenu .modul {
    min-width: 240px;
  }

  .kurs {
    min-width: 180px;
    max-width: 180px;
  }

  .modul {
    min-width: 230px;
    max-width: 230px;
  }

  .modul h3 {
    font-size: 1.2rem;
  }

  .kurs, .modul {
    height: 240px;
  }

  .underveis-container {
    min-width: 200px;
    max-width: 200px;
  }

  .fullført .bottom {
    padding: 0rem;
  }

  .bottom, .modulbottom {
    min-height: 60px;
  }
  
}