/* ---------------------*/
/*    HTML ELEMENTS     */
/* ---------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
button,
::placeholder {
  color: #1f294d;
  font-family: "Leelawadee UI";
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input[type="text"]{
  color: #1f294d;
  font-family: "Leelawadee UI";
}
label{
    color: #1f294d;
    font-family: "Leelawadee UI";
}

/* ---------------------*/
/*      UTILITIES       */
/* ---------------------*/
.hidden{
    display: none;
}
#hidden{
  display: none;
}
