input {
    display: block;
    width: 90%;
    max-width: 100%;
    border-radius: 15px;
    border: 0.06rem solid #FC9C7F;
    padding: 0.75rem;
    text-align: center;
    box-shadow: 0 0 0px 1000px white inset;
}

input[type=submit] {
    width: 100%;
    border: none;
    background-color: white;
    font-size: 1.75rem;
    cursor: pointer;
    padding: 1rem;
    letter-spacing: 0.006rem;
    text-align: center;
}

.bilde img {
    height: 10rem;
}

.loginBox form, .regBox form {
    padding: 1rem;
}

.glemt a {
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    #FC9C7F 0%,
    #FC9C7F 0%
  );
}

.loginBox, .regBox {
    margin: auto;
    box-shadow: 1px 1px 10px rgb(71 71 71 / 30%);
    width: 60%;
    border-radius:10px;
    text-align: center;
}

.loginBox {
    margin-top: 8rem; 
}

.glemt{
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 0rem 0.75rem 0rem;
}

.venstre {
    padding: 0;
    margin: 0;
}
.reg a{
    font-size: 0.85rem;
}
.loginBox label, .regBox label {
    display: block;
    text-align: left;
    font-size: 1.25rem;
    padding: 0.75rem;
}

#container{
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
}

#venstre {
    background: linear-gradient(90deg, #95E3EC 100%, #FFFFFF 50%);
    width: 65vw;
    height: 100vh;
    font-weight: lighter;
}

#venstre .introtekst {
    margin-top: 30%;
}

#venstre h1, #venstre h2 {
    margin-left: 4rem;
    color: #FFFFFF;
    padding: 0.5rem;
}

#venstre h1 {
    font-size: 4rem;
}

#venstre h2 {
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
}

#høyre {
    text-align: center;
    width: 35vw;
    height: 100vh;
}

input:focus {
    border: 0.15rem solid #FC9C7F; 
    outline: none;
    transition: all 0.3s;
}

input[type=submit]:hover {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.06rem;
    transition: all 0.3s;
}

.glemt a:hover {
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    #FC9C7F 0%,
    #FC9C7F 0%
  );
  letter-spacing: 0.08rem;
  transition: all 0.3s;
}

@media only screen and (max-width: 1300px) {
    #venstre h1 {
        font-size: 3.5rem;
    }
    #venstre h2 {
        font-size: 2rem;
    }
    .introtekst h1 {
        font-size: 2rem;
    }
    .introtekst h2 {
        font-size: 1.5rem;
    }
    .bilde img {
        max-height: 25vh;
    }
    .loginBox {
        margin-top: 3rem;
    }

    .loginBox form {
        margin-top: 3rem;
    }
    .loginBox label, .regBox label {
        font-size: 1rem;
    }
    .glemt, .reg {
        font-size: 0.85rem;
    }
    input[type=submit]{
        font-size: 1.25rem;
    }
}