#navbar {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088);
    display: flex;
    flex-flow: row nowrap;
}

#searchbar {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#searchbar input{
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 25%);
    border-radius: 5px;
    border: none;
    height: 4vh;
    width: 20vw;
    margin-left: 4vw;
}

#searchbar textarea:focus, input:focus{
    outline: none;
}

#profil {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
  margin-right: 4vw;
}

#navn_poeng {
  font-family: "Leelawadee UI";
  margin-right: 1vw;
}

#profil img {
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 25%);
  border-radius: 25px;
  width: 5vh;
}





main{
    display: flex;
}
h2 {
    font-size: 1.75rem;
}
#admin-nav {
    width: 20%;
    height: 85vh;
    text-align: left;
    padding-left: 5rem;
    box-shadow: 1px 10px 15px 1px rgb(0 0 0 / 15%);
}
#admin-nav h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top:4rem; 
    padding-left: 0rem;
    text-align: left;
}
#admin-nav li {
    font-size: 1.25rem;
    margin: 6rem 0rem 6rem 0rem;
}
#admin-nav li:hover {
    cursor: pointer;
    font-weight: bold;
}



/* PERSONLIG INFO */
h1 {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem; 
}
section {
    width: 80%;
}
form {
    width: 70%;
    margin: auto;
    padding: 3rem;
}
.personling-info h2 {
    font-weight: 100;
    font-size: 2rem;
    padding: 2rem;
}
.personling-info label{
    font-size: 1.25rem;
}
.personling-info input, .personling-info textarea {
    width: 70%;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem; 
    background-color: rgb(182	243	171 / 15%);
    border: none;
    resize: none;
}

.personling-info textarea {
    width: 170%;
}

::-webkit-input-placeholder {
    text-align: center;
}

.personling-info label, .personling-info input, .personling-info textarea {
    display: block;
    margin: 1rem; 
}
.personling-info button {
    font-size: 1.25rem;
    border: none;
    background-color: #B6F3AB;
    box-shadow: 1px 10px 15px 1px rgb(0 0 0 / 10%);
    margin-top: 3rem; 
}
.personling-info div:first-of-type {
    margin-bottom: 1rem;
}
.personling-info > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#oppdater-btn {
    justify-content: center;
}
.personling-info > div > div {
    width: 50%;
    margin-top: 2rem; 
}
#navn-bilde {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
#navn-bilde img {
    width:10rem;
    height:10rem;
    object-fit:cover;
    border-radius:50%;
}
#navn-bilde div {
    width: 20%;
    margin: 0rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#navn-bilde label {
    padding: 0rem; 
    margin: 0rem; 
    color: #FC9C7F;
}
#last-opp-btn{
    display: block;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 2rem; 
    cursor: pointer;
    text-align: center;
}
#bilde {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



/* INTERESSER */
.interesser {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} 
.dropdown-content {
    display: none;
    max-width: 100%;
}
.interesser h2 {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem; 
}
.interesser h3 {
    font-size: 1.5rem;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 70%,
        #B6F3AB 0%,
        #B6F3AB 0%
    );
}
.interesser input{
    font-size: 1.5rem;
}
.interesser form {
    padding-left: 0rem;
    width: 30%;
}
.fjern button {
    border: none;
    background-color: #ffffff;
    font-size: 1rem;
    color: #F21212;
    cursor: pointer;
}
.interesser form, .interesser h2 {
    padding-top: 8rem; 
}
.interesser section {
    width: 40%;
}
.interesser > section > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}
.interesser > section > div > div {
    width: 50%;
}
.interesser h3{
    display: inline-block;
}
.interesser .fjern, .interesser > section > div > div {
    padding: 2rem 0rem 0rem 0rem; 
    margin: 0rem; 
    width: 50%;
}
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    border: none;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
}
#finn-og-legg-til h3{
    padding: 1.5rem 0rem 0rem 0rem; 
    background: none;
}
#finn-og-legg-til button {
    border: none;
    background: none; 
    font-size: 1.25rem;
    padding: 0.25rem 0rem 0.25rem 0rem; 
}

#finn-og-legg-til > div > form {
    padding: 0rem;
}

/* HOVER */
.personling-info button:hover{
    cursor: pointer;
    transition: all 0.5s; 
    box-shadow: none;
    letter-spacing: 0.05rem;
}

#finn-og-legg-til button:hover {
    font-size: 1.5rem;
    transition: all 0.3s;
    padding: 0.5rem 0rem 0.5rem 0rem; 
    cursor: pointer;
    background-color: #d0d9f9;
    font-weight: lighter;
    letter-spacing: 0.04rem;
}
.show {display:block;}

.hide {display:none;}
