#alle-kurs, #alle-moduler, #alle-quizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
}

#alle-kurs {
    width: 70%;
}

#alle-moduler {
    width: 70%;
}

#alle-quizer {
    width: 70%;
}

main {
    flex-wrap: wrap;
}
.filter form {
    width: 100%;
    text-align: center;
}