#alle-kurs, #alle-moduler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}

#alle-kurs {
    width: 70%;
}

#alle-moduler {
    width: 60%;
}
main {
    flex-wrap: wrap;
}
form {
    width: 100%;
    text-align: center;
}