/* ---------------------*/
/*    HTML ELEMENTS     */
/* ---------------------*/
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
button,
div,
::placeholder {
  color: #1f294d;
  font-family: "Leelawadee UI";
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
}
h2{
  font-size: 1.5rem;
}
p{
  font-size: 1.25rem;
}

input[type="text"], input[type="submit"], textarea[type="text"]{
  color: #1f294d;
  font-family: "Leelawadee UI";
}
label{
    color: #1f294d;
    font-family: "Leelawadee UI";
}
legend{
  color: #1f294d;
  font-family: "Leelawadee UI";
}
.scrollmenu .kurs .bottom p, .scrollmenu .modul .modul-tittel h2{
  font-family: "Segoe UI";
  font-weight: 500;
}
@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 2rem;
  }
  h2{
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
}
/* ---------------------*/
/*      UTILITIES       */
/* ---------------------*/
.hidden{
    display: none;
}

.error {
  display: block;
  text-align: center;
}

.error p{
  color: #FF9494; 
  padding: 0.25rem; 
}

#hidden{
  display: none;
}

#error {
  display: block;
  text-align: center;
  margin-top: 0.75rem; 
}

#error p{
  color: #FF9494; 
  padding: 0.25rem; 
}
