/* ---------------------*/
/*    HTML ELEMENTS     */
/* ---------------------*/
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
button,
div,
::placeholder {
  color: #1f294d;
  font-family: "Leelawadee UI";
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
}
h2{
  font-size: 1.5rem;
}
h3 {
  font-size: 1.35rem;
}
p{
  font-size: 1.25rem;
}

input[type="text"], input[type="submit"], textarea[type="text"]{
  color: #1f294d;
  font-family: "Leelawadee UI";
}
label{
    color: #1f294d;
    font-family: "Leelawadee UI";
}
legend{
  color: #1f294d;
  font-family: "Leelawadee UI";
}
.scrollmenu::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088);
  opacity: 60%;
}

@media only screen and (max-width: 1500px) {
  h1 span {
    font-size: 1.2rem;
  }
  div h2 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  div p {
    font-size: 0.8rem;
  }
  p {
    font-size: 1rem;
  }
  ul li {
    font-size: 0.8rem;
  }
div #beskrivelse {
  margin: 1rem auto 0rem auto;
}
}
/* ---------------------*/
/*      UTILITIES       */
/* ---------------------*/
.hidden{
    display: none;
}

.error {
  display: block;
  text-align: center;
}

.error p{
  color: #FF9494; 
  padding: 0.25rem; 
}

#hidden{
  display: none;
}

#error {
  display: block;
  text-align: center;
  margin-top: 0.75rem; 
}

#error p{
  color: #FF9494; 
  padding: 0.25rem; 
}
