#navbar {
    width: 100%;
    max-height: 15vh;
    min-height: 15vh;
    background-image: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088);
    display: flex;
  }
  
#navbar a, #navbar img {
  max-height: inherit;
  margin: 0rem;
}
  #navbar > div {
    width: 50%;
    display: flex;
    align-items: center;
  }
  
  #searchbar form {
    padding: 0; 
    margin: 0; 
    width: auto;
  }
  
  #searchbar input{
    font-size: 1.25rem;
    text-align: left;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: none;
    height: 4vh;
    width: 20vw;
  }
  
  #searchbar input::placeholder{
    text-align: left;
  }
  
  #searchbar textarea:focus, input:focus{
    outline: none;
  }
  
  #profil {
    justify-content: right;
    margin-right: 4vw;
  }
  
  #profil img {
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  #navn_poeng {
    margin-right: 1vw;
  }
  
  #navn_poeng p{
    line-height: 100%;
    padding: 0rem;
    font-weight: 100;
    font-size: 1rem;
    color:#1f294d;
    text-align: right;
  }
  
  #navn_poeng p:first-of-type{
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
  }

  #navn_poeng .poeng-info-txt{
    margin-top: 0.5rem; 
    background-color: #ffffff;
    text-align: center;
    font-size: 1.15rem;
    font-style: italic;
    box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
  }

  #navn_poeng #poeng-info{
    padding-bottom: 0.1rem;
    text-decoration:underline dotted;
    text-underline-offset: 4px; 
    cursor: pointer;
  }

  @media only screen and (max-width: 1550px) {
    #searchbar input {
        font-size: 0.8rem;
        width: 15vw;
    }
    #navn_poeng .poeng-info-txt {
      font-size: 0.75rem;
    }
  }