.quiz-enkel{
    min-width: 220px;
    max-width: 220px;
    min-height: 290px;
    max-height: 290px;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 15%);
    margin: 2em 2rem 2rem 2rem; 
    border-radius: 0.5rem;
    opacity: 90%;
}
.quiz-enkel h5 {
    margin-top: 1rem; 
    font-size: 1.25rem;
    padding: 0.5rem; 
    font-family: "Segoe UI";
    font-weight: 500;
}
.quiz-enkel h4 {
    display: none;
}

.mer{
    position: absolute;
    bottom: 0; 
    left: 50%;
    right: 50%;
    max-width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.quiz-enkel img {
    max-width: 100%;
}

.overlap {
    position: absolute;
    bottom: -5vh; 
    margin-left: 60%;
    width: 50%;
    max-height: fit-content;
    text-align: center;
    box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 15%);
    background-color: #F4F6FA;    
}
.overlap form {
    box-shadow: none;
    margin: 0rem; 
    padding: 0rem; 
}
.overlap button, .overlap p {
    border: none;
    background-color: transparent;
    font-size: 1.15rem;
    position: static;
    font-weight: 100;
    padding: 0.5rem 0rem 0.5rem 1rem; 
    text-align: left;
}
.overlap p:hover, .overlap button:hover {
    cursor: pointer;
    font-weight: 400;
}


.quiz-enkel:hover {
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    transform: translateY(-1.5rem);
    box-shadow:  1px 1px 20px 1px rgb(0 0 0 / 10%);
    cursor: pointer;
}
