main nav {
    min-height: 85vh;
    max-height: fit-content;
    text-align: left;
    padding-left: 5rem;
}

main nav h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top:4rem; 
    text-align: left;
    padding: 1rem; 
    padding-left: 0rem;
}

main nav ul li {
    transition: all 0.4s;
  font-size: 1.25rem;
  margin: 6rem 0rem 6rem 0rem;
  cursor: pointer;
}

main nav ul li:hover{
    padding-left: 1rem;
    font-weight: bold;
    letter-spacing: -0.2px;
}

.side-nav-valgt {
    padding-left: 1rem;
    letter-spacing: -0.2px;
    font-weight: bold;
}

#forside-nav {
    max-width: 15%;
}

#admin-nav {
    width: 20%;
    box-shadow: 1px 10px 15px 1px rgb(0 0 0 / 15%);
}

@media only screen and (max-width: 1300px) {
    nav {
        font-size: 1rem;
      }

    main nav ul li {
        font-size: 1rem;
        margin: 1rem 0rem 3rem 0rem;
      }

    main nav h1{
        font-size: 1.5rem;
        padding-bottom: 2rem; 
    }

    #admin-nav h1 {
        font-size: 1.5rem;
    } 

    #admin-nav li {
        font-size: 1rem;
        margin: 1rem 0rem 3rem 0rem;
    }

    #admin-nav {
        padding-left: 4rem;
        width: 17%;
    }
}