nav ul li {
    font-size: 1rem;
    letter-spacing: -0.1px;
    font-weight: 100;
}

#top-nav .top-nav-active {
    font-size: 1.01rem;
    font-family: "Segoe UI";
    opacity: 100%;
    text-decoration: underline solid 1px black;
    text-underline-offset: 4px;
}

#top-nav {
    max-width: 100%;
    min-height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-image: linear-gradient(to right, #d0d9f9 , #a3ecc8, #f2f088);*/
    background-color: #F4F6FA;
    box-shadow: 2px 2px 6px 3px rgb(0 0 0 / 10%);
    opacity: 85%;
    color: black;
    text-transform: uppercase;
}
  
#top-nav nav ul li {
    transition: all 0.3s ease-in-out;
    display: inline;
    margin: 0.5rem 4rem 0.5rem 4rem; 
    opacity: 60%;
}

#top-nav nav ul li:hover {
    opacity: 100%;
}
